adftesting444/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adftesting444"
		},
		"ls_datalake_test_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"ls_datalake_test\""
		},
		"ls_sftp_asistencia_sql2_2024_fundatec_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"ls_sftp_asistencia_sql2_2024_fundatec\""
		},
		"ls_sql_server_configuracion_devvertix_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_sql_server_configuracion_devvertix\""
		},
		"ls_sql_server_stage_devvertix_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"ls_sql_server_stage_devvertix\""
		},
		"ls_api_rest_prueba_usuarios_random_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://randomuser.me/api/?results=2000"
		},
		"ls_datalake_test_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://datalakestorageacc444.dfs.core.windows.net/"
		},
		"ls_sftp_asistencia_sql2_2024_fundatec_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "dev-mssql2019.ddns.net"
		},
		"ls_sftp_asistencia_sql2_2024_fundatec_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "usrsftp"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ls_api_rest_prueba_usuarios_random')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "API Rest con datos aleatorios de usuarios",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('ls_api_rest_prueba_usuarios_random_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_datalake_test')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Azure Datalake Storage Gen 2 de pruebas",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_datalake_test_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_datalake_test_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sftp_asistencia_sql2_2024_fundatec')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Archivo CSV con la Asistencia del Curso SQL II del Fundatec",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('ls_sftp_asistencia_sql2_2024_fundatec_properties_typeProperties_host')]",
					"port": "2222",
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('ls_sftp_asistencia_sql2_2024_fundatec_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ls_sftp_asistencia_sql2_2024_fundatec_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_server_configuracion_devvertix')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Servidor SQL Server de base de datos para pruebas llamado: devvertix sobre Base de Datos Configuracion",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_server_configuracion_devvertix_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_server_stage_devvertix')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Servidor SQL Server llamado devvertix de pruebas conectado sobre la base de datos llamada STAGE",
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_server_stage_devvertix_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_api_rest_usuarios_random_bronce_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake_test",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "APIs"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "usuarios_random.json",
						"folderPath": "Bronce/Publico/APIs",
						"fileSystem": "datalake"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_api_rest_usuarios_random_json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_api_rest_prueba_usuarios_random",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "APIs"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"results": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"gender": {
										"type": "string"
									},
									"name": {
										"type": "object",
										"properties": {
											"title": {
												"type": "string"
											},
											"first": {
												"type": "string"
											},
											"last": {
												"type": "string"
											}
										}
									},
									"location": {
										"type": "object",
										"properties": {
											"street": {
												"type": "object",
												"properties": {
													"number": {
														"type": "integer"
													},
													"name": {
														"type": "string"
													}
												}
											},
											"city": {
												"type": "string"
											},
											"state": {
												"type": "string"
											},
											"country": {
												"type": "string"
											},
											"postcode": {
												"type": "integer"
											},
											"coordinates": {
												"type": "object",
												"properties": {
													"latitude": {
														"type": "string"
													},
													"longitude": {
														"type": "string"
													}
												}
											},
											"timezone": {
												"type": "object",
												"properties": {
													"offset": {
														"type": "string"
													},
													"description": {
														"type": "string"
													}
												}
											}
										}
									},
									"email": {
										"type": "string"
									},
									"login": {
										"type": "object",
										"properties": {
											"uuid": {
												"type": "string"
											},
											"username": {
												"type": "string"
											},
											"password": {
												"type": "string"
											},
											"salt": {
												"type": "string"
											},
											"md5": {
												"type": "string"
											},
											"sha1": {
												"type": "string"
											},
											"sha256": {
												"type": "string"
											}
										}
									},
									"dob": {
										"type": "object",
										"properties": {
											"date": {
												"type": "string"
											},
											"age": {
												"type": "integer"
											}
										}
									},
									"registered": {
										"type": "object",
										"properties": {
											"date": {
												"type": "string"
											},
											"age": {
												"type": "integer"
											}
										}
									},
									"phone": {
										"type": "string"
									},
									"cell": {
										"type": "string"
									},
									"id": {
										"type": "object",
										"properties": {
											"name": {
												"type": "string"
											},
											"value": {
												"type": "string"
											}
										}
									},
									"picture": {
										"type": "object",
										"properties": {
											"large": {
												"type": "string"
											},
											"medium": {
												"type": "string"
											},
											"thumbnail": {
												"type": "string"
											}
										}
									},
									"nat": {
										"type": "string"
									}
								}
							}
						},
						"info": {
							"type": "object",
							"properties": {
								"seed": {
									"type": "string"
								},
								"results": {
									"type": "integer"
								},
								"page": {
									"type": "integer"
								},
								"version": {
									"type": "string"
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_api_rest_prueba_usuarios_random')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_asistencia_fundatec_bronce_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake_test",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "fundatec"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Bronce/Publico/Fundatec",
						"fileSystem": "datalake"
					},
					"compressionCodec": "gzip"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_asistencia_fundatec_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sftp_asistencia_sql2_2024_fundatec",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "fundatec"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "Asistencia.csv",
						"folderPath": "/uploads"
					},
					"columnDelimiter": "\t",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Nombre",
						"type": "String"
					},
					{
						"name": "Primera entrada",
						"type": "String"
					},
					{
						"name": "Última salida",
						"type": "String"
					},
					{
						"name": "Duración de la reunión",
						"type": "String"
					},
					{
						"name": "Correo electrónico",
						"type": "String"
					},
					{
						"name": "Id. de participante (UPN)",
						"type": "String"
					},
					{
						"name": "Rol",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sftp_asistencia_sql2_2024_fundatec')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_asistencia_fundatec_datalake_archivo_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_datalake_test",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "fundatec"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "Asistencia.parquet",
						"folderPath": "Bronce/Publico/Fundatec",
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Nombre",
						"type": "UTF8"
					},
					{
						"name": "PrimeraEntrada",
						"type": "UTF8"
					},
					{
						"name": "UltimaSalida",
						"type": "UTF8"
					},
					{
						"name": "DuracionDeLaReunion",
						"type": "UTF8"
					},
					{
						"name": "CorreoElectronico",
						"type": "UTF8"
					},
					{
						"name": "IdParticipante",
						"type": "UTF8"
					},
					{
						"name": "Rol",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_datalake_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_asistencia_fundatec_sftp_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sftp_asistencia_sql2_2024_fundatec",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "fundatec"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"fileName": "asistencia.parquet",
						"folderPath": "/uploads"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "Nombre",
						"type": "UTF8"
					},
					{
						"name": "PrimeraEntrada",
						"type": "UTF8"
					},
					{
						"name": "UltimaSalida",
						"type": "UTF8"
					},
					{
						"name": "DuracionDeLaReunion",
						"type": "UTF8"
					},
					{
						"name": "CorreoElectronico",
						"type": "UTF8"
					},
					{
						"name": "IdParticipante",
						"type": "UTF8"
					},
					{
						"name": "Rol",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sftp_asistencia_sql2_2024_fundatec')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_devvertix_configuracion_parametros_tb')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_server_configuracion_devvertix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Server devvertix"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Codigo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Valor",
						"type": "varchar"
					},
					{
						"name": "Descripcion",
						"type": "varchar"
					},
					{
						"name": "FechaRegistro",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Parametros"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_server_configuracion_devvertix')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_devvertix_stage_asistenciacsv_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_server_stage_devvertix",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SQL Server devvertix"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "Secuencia",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Correo",
						"type": "varchar"
					},
					{
						"name": "NombreEstudiante",
						"type": "varchar"
					},
					{
						"name": "FechaPrimeraEntrada",
						"type": "varchar"
					},
					{
						"name": "FechaUltimaSalida",
						"type": "varchar"
					},
					{
						"name": "DuracionEnLaLeccion",
						"type": "varchar"
					},
					{
						"name": "IdParticipante",
						"type": "varchar"
					},
					{
						"name": "Rol",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "stg",
					"table": "AsistenciaCsv"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_server_stage_devvertix')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_asistencia_fundatec_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Proceso de Ingesta que lee del SFTP un archivo CSV con datos de asistencia y lo guarda en la capa de bronce del Datalake",
				"activities": [
					{
						"name": "Ingesta de Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(), -4)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Primera entrada",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrimeraEntrada",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Última salida",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UltimaSalida",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Duración de la reunión",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DuracionDeLaReunion",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Correo electrónico",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CorreoElectronico",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Id. de participante (UPN)",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IdParticipante",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rol",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_asistencia_fundatec_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_asistencia_fundatec_bronce_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_asistencia_fundatec_csv')]",
				"[concat(variables('factoryId'), '/datasets/ds_asistencia_fundatec_bronce_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_asistencia_fundatec_sftp_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta que carga sobre el mismo sftp un archivo parquet, necesario para pruebas con Databricks",
				"activities": [
					{
						"name": "Ingesta Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(), -4)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "00:30:00",
									"useTempFileRename": false
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PrimeraEntrada",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PrimeraEntrada",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "UltimaSalida",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UltimaSalida",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DuracionDeLaReunion",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DuracionDeLaReunion",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CorreoElectronico",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CorreoElectronico",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_asistencia_fundatec_datalake_archivo_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_asistencia_fundatec_sftp_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sftp"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_asistencia_fundatec_datalake_archivo_parquet')]",
				"[concat(variables('factoryId'), '/datasets/ds_asistencia_fundatec_sftp_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_usuarios_random_api')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta de datos de un ",
				"activities": [
					{
						"name": "Obtener Datos de API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['gender']"
										},
										"sink": {
											"path": "gender"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"path": "name"
										}
									},
									{
										"source": {
											"path": "[['location']"
										},
										"sink": {
											"path": "location"
										}
									},
									{
										"source": {
											"path": "[['email']"
										},
										"sink": {
											"path": "email"
										}
									},
									{
										"source": {
											"path": "[['login']"
										},
										"sink": {
											"path": "login"
										}
									},
									{
										"source": {
											"path": "[['dob']"
										},
										"sink": {
											"path": "dob"
										}
									},
									{
										"source": {
											"path": "[['registered']"
										},
										"sink": {
											"path": "registered"
										}
									},
									{
										"source": {
											"path": "[['phone']"
										},
										"sink": {
											"path": "phone"
										}
									},
									{
										"source": {
											"path": "[['cell']"
										},
										"sink": {
											"path": "cell"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"path": "id"
										}
									},
									{
										"source": {
											"path": "[['picture']"
										},
										"sink": {
											"path": "picture"
										}
									},
									{
										"source": {
											"path": "[['nat']"
										},
										"sink": {
											"path": "nat"
										}
									}
								],
								"collectionReference": "$['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_bronce_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_api_rest_usuarios_random_json')]",
				"[concat(variables('factoryId'), '/datasets/ds_api_rest_usuarios_random_bronce_json')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_orquestador_pipelines_bronce_sftp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Orquestador de Bronce y de Sftp",
				"activities": [
					{
						"name": "pl_ingesta_asistencia_fundatec_csv",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingesta_asistencia_fundatec_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_ingesta_asistencia_fundatec_sftp_parquet",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_ingesta_asistencia_fundatec_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingesta_asistencia_fundatec_sftp_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingesta_asistencia_fundatec_csv')]",
				"[concat(variables('factoryId'), '/pipelines/pl_ingesta_asistencia_fundatec_sftp_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_ingesta_bronce_asistencia_fundatec')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Proceso automático de ejecución para ingestar los datos de la asistencia del CSV a la capa bronce del datalake",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_orquestador_pipelines_bronce_sftp",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-05-25T00:05:00",
						"endTime": "2024-06-14T01:00:00",
						"timeZone": "Central America Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								13
							],
							"weekDays": [
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_orquestador_pipelines_bronce_sftp')]"
			]
		}
	]
}