adftesting444/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adftesting444"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_asistencia_fundatec_sftp_parquet')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta que carga sobre el mismo sftp un archivo parquet, necesario para pruebas con Databricks",
				"activities": [
					{
						"name": "Ingesta Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"modifiedDatetimeStart": {
										"value": "@adddays(utcnow(), -4)",
										"type": "Expression"
									},
									"modifiedDatetimeEnd": {
										"value": "@utcnow()",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "SftpWriteSettings",
									"operationTimeout": "00:30:00",
									"useTempFileRename": false
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Nombre",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PrimeraEntrada",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PrimeraEntrada",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "UltimaSalida",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "UltimaSalida",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DuracionDeLaReunion",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DuracionDeLaReunion",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CorreoElectronico",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CorreoElectronico",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_asistencia_fundatec_datalake_archivo_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_asistencia_fundatec_sftp_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sftp"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_sales_walmart_db2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingesta Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "Db2Source"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "USER_ID",
											"type": "Int64"
										},
										"sink": {
											"name": "USER_ID",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "PRODUCT_ID",
											"type": "String"
										},
										"sink": {
											"name": "PRODUCT_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GENDER",
											"type": "String"
										},
										"sink": {
											"name": "GENDER",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AGE",
											"type": "String"
										},
										"sink": {
											"name": "AGE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OCCUPATION",
											"type": "Int32"
										},
										"sink": {
											"name": "OCCUPATION",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "CITY_CATEGORY",
											"type": "String"
										},
										"sink": {
											"name": "CITY_CATEGORY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "STAY_IN_CURRENT_CITY_YEARS",
											"type": "Int32"
										},
										"sink": {
											"name": "STAY_IN_CURRENT_CITY_YEARS",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "MARITAL_STATUS",
											"type": "Int16"
										},
										"sink": {
											"name": "MARITAL_STATUS",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "PRODUCT_CATEGORY",
											"type": "Int32"
										},
										"sink": {
											"name": "PRODUCT_CATEGORY",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "PURCHASE",
											"type": "Double"
										},
										"sink": {
											"name": "PURCHASE",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_sales_walmart_db2_tb",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds__datalake_sales_walmart_db2_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_usuarios_random_api')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Ingesta de datos de un ",
				"activities": [
					{
						"name": "Obtener Datos de API",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings",
									"filePattern": "arrayOfObjects"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['gender']"
										},
										"sink": {
											"path": "gender"
										}
									},
									{
										"source": {
											"path": "[['name']"
										},
										"sink": {
											"path": "name"
										}
									},
									{
										"source": {
											"path": "[['location']"
										},
										"sink": {
											"path": "location"
										}
									},
									{
										"source": {
											"path": "[['email']"
										},
										"sink": {
											"path": "email"
										}
									},
									{
										"source": {
											"path": "[['login']"
										},
										"sink": {
											"path": "login"
										}
									},
									{
										"source": {
											"path": "[['dob']"
										},
										"sink": {
											"path": "dob"
										}
									},
									{
										"source": {
											"path": "[['registered']"
										},
										"sink": {
											"path": "registered"
										}
									},
									{
										"source": {
											"path": "[['phone']"
										},
										"sink": {
											"path": "phone"
										}
									},
									{
										"source": {
											"path": "[['cell']"
										},
										"sink": {
											"path": "cell"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"path": "id"
										}
									},
									{
										"source": {
											"path": "[['picture']"
										},
										"sink": {
											"path": "picture"
										}
									},
									{
										"source": {
											"path": "[['nat']"
										},
										"sink": {
											"path": "nat"
										}
									}
								],
								"collectionReference": "$['results']"
							}
						},
						"inputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_bronce_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_usuarios_random_crm_api')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingesta Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['results'][0]['gender']"
										},
										"sink": {
											"name": "genero",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['city']"
										},
										"sink": {
											"name": "ciudad",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['state']"
										},
										"sink": {
											"name": "estado",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['country']"
										},
										"sink": {
											"name": "pais",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['email']"
										},
										"sink": {
											"name": "correoelectronico",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['dob']['age']"
										},
										"sink": {
											"name": "edad",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['cell']"
										},
										"sink": {
											"name": "telefonocelular",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['id']['value']"
										},
										"sink": {
											"name": "identificacion",
											"type": "String"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_bronce_crm_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_ingesta_usuarios_random_ml_api')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Ingesta Datos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['results'][0]['location']['street']['number']"
										},
										"sink": {
											"name": "NumeroCalle",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['postcode']"
										},
										"sink": {
											"name": "CodigoPostal",
											"type": "Int32"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['coordinates']['latitude']"
										},
										"sink": {
											"name": "Latitud",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['location']['coordinates']['longitude']"
										},
										"sink": {
											"name": "Longitud",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['dob']['date']"
										},
										"sink": {
											"name": "FechaNacimiento"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['registered']['date']"
										},
										"sink": {
											"name": "FechaRegistro"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['id']['value']"
										},
										"sink": {
											"name": "NumeroIdentificacion",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['results'][0]['picture']['medium']"
										},
										"sink": {
											"name": "UrlFoto"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_json",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_api_rest_usuarios_random_bronce_ml_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_transformacion_carga_asistencia_final_tbl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Obtener Nombre Curso",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT \n\tValor\nFROM \n\t[dbo].[Parametros]\nWHERE \n\tCodigo = 1\n;",
								"queryTimeout": "00:20:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ds_devvertix_configuracion_parametros_tb",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Cargar Stage",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Obtener Nombre Curso",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							},
							"sink": {
								"type": "SqlServerSink",
								"preCopyScript": "TRUNCATE TABLE stg.AsistenciaCsv",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"parallelCopies": 1,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CorreoElectronico",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Correo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Nombre",
											"type": "String"
										},
										"sink": {
											"name": "NombreEstudiante",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PrimeraEntrada",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FechaPrimeraEntrada",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "UltimaSalida",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FechaUltimaSalida",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DuracionDeLaReunion",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DuracionEnLaLeccion",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IdParticipante",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Rol",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Rol",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_asistencia_fundatec_datalake_archivo_parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_devvertix_stage_asistenciacsv_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Carga Productiva",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Cargar Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.00:10:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_sql_server_stage_devvertix",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"parameters": [
										{
											"name": "NombreCurso",
											"type": "String",
											"value": {
												"value": "@activity('Obtener Nombre Curso').output.firstRow.Valor",
												"type": "Expression"
											},
											"direction": "Input"
										}
									],
									"type": "Query",
									"text": "EXECUTE dbo.usp_TransformacionCargaAsistenciaTestingdb @NombreCurso"
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Oro"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_orquestador_pipelines_bronce_sftp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline Orquestador de Bronce y de Sftp",
				"activities": [
					{
						"name": "pl_ingesta_asistencia_fundatec_csv",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingesta_asistencia_fundatec_csv",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_ingesta_asistencia_fundatec_sftp_parquet",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_ingesta_asistencia_fundatec_csv",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_ingesta_asistencia_fundatec_sftp_parquet",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Bronce"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_ingesta_asistencia_fundatec_sftp_parquet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_Orquestador_Principal_Pipelines_Asistencia_Fundatec')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "pl_orquestador_pipelines_bronce_sftp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_orquestador_pipelines_bronce_sftp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "pl_transformacion_carga_asistencia_final_tbl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "pl_orquestador_pipelines_bronce_sftp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pl_transformacion_carga_asistencia_final_tbl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Datalake/Orquestación"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_orquestador_pipelines_bronce_sftp')]",
				"[concat(variables('factoryId'), '/pipelines/pl_transformacion_carga_asistencia_final_tbl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tr_ingesta_bronce_asistencia_fundatec')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Proceso automático de ejecución para ingestar los datos de la asistencia del CSV a la capa bronce del datalake",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pl_Orquestador_Principal_Pipelines_Asistencia_Fundatec",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2024-05-25T00:05:00",
						"endTime": "2024-06-14T01:00:00",
						"timeZone": "Central America Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								13
							],
							"weekDays": [
								"Saturday"
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_Orquestador_Principal_Pipelines_Asistencia_Fundatec')]"
			]
		}
	]
}